.carousel-caption {
  bottom:0;
  top:45%;
}

.carousel-text{
  font-size: 2.69vw;
  color:white;
  font-weight:900;
  font-family: 'Roboto Slab', serif;
}

.carousel-text-author {
  font-size: 1.65vw !important;
  text-align: right
}

.card-text-custom{
      color:white;
      font-size: 25px;
      font-weight: 900;
      position: relative;
      top: 45%;
      left: 45%;
  }
