{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static '/css/carousel.css' %}">

<div id="quote_carousel" class="carousel slider" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

      {% for quote, image_no in carousel_data %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
            <img class="d-block w-100 h-35" src='{% static "wallpapers/" %}{{ image_no }}.jpg'>
            <div class="carousel-caption">
                <h3 class="carousel-text">{{ quote.quote_text }}</h3>
                <p class="carousel-text carousel-text-author">{{ quote.author }}</p>
            </div> {# end of div carousel-caption #}
        </div> {# end of class item active #}
      {% endfor %}

    </div> {# end of class carousel-inner#}
</div> {# end of class carousel#}








<div class="container">
    {% if quotes %}
      <div class="card-columns">
      {% for quote in quotes %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ quote.quote_text }}</h4>
          <p class="card-text" style="text-align:right">{{ quote.author | title }}</p>
        </div>
      </div>
      {% endfor %}
      </div>
    {% endif %}
  </div> {# end of div container #}
{% endblock content %}
